html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.row {
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

.column:first-child {
    min-width: 400px;
}

.column {
    flex: 1;
}

html, body {
    font-family: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

.label {
    font-size: 1.6rem;
    padding-bottom: .5rem;
    font-weight: bold;
    width: 100%;
    display: block;
}

.input-btn-wrapper {
    display: flex;
    margin-bottom: 15px;
}

input {
    font-size: 1.6rem;
    width: 100%;
    padding: 20px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: none;
}

button {
    font-size: 1.6rem;
    font-weight: bold;
    border: 1px solid black;
    max-width: 170px;
    cursor: pointer;
}

button:hover {
    background: #cccccc;
}

input.highlight,
input[type=text]:focus, textarea:focus {
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    padding: 20px;
    border: 1px solid rgba(81, 203, 238, 1);
}

.output {
    margin: 10px 0;
    padding: .5rem;
    border: 1px solid black;
    width: 100%;
}

.output h4 {
    padding-bottom: .5rem;
    font-weight: bold;
}

.output p {
    line-height: 1.6rem;
}

.output p i {
    cursor: pointer;
    font-style: italic;
    color: rgb(46, 144, 189);
}

.output p i:hover {
    color: blue;
}

#output {
    min-height: 71px;
    border: 1px dashed black;
}

sub {
    display: block;
    font-size: .8rem;
    font-style: italic;
    margin-bottom: 15px;
}

.info-icon {
    max-height: 20px;
    cursor: pointer;
    margin: 5px;
}

.flex-header {
    display: flex;
}

.flex-header label {
    width: auto;
}